<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stlye.css') }}">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4 custom-title">Giriş Yap</h1>
    <form method="POST" class="form-custom">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="form-group">
            <label for="sifre">Şifre:</label>
            <input type="password" class="form-control" name="sifre" required>
        </div>
        <button type="submit" class="btn btn-custom btn-block">Giriş Yap</button>
    </form>
    <a href="{{ url_for('register') }}">Kayıt Ol</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>